
img {
    width: 400px;
}
 .top{
     background-image: linear-gradient(to right, #ffffcc, #ffe5e5);
     color: #ff9999	;
     text-align: center;
	 font-family: 'Shrikhand', cursive;
}

.intro { 
    display: flex;
    justify-content: space-between;
}

.pic{
    border: 30px double #e5ffe5;
}

.campaign{
    background-color: #f2ffe5;
    font-family: 'Shrikhand', cursive;
}

.one{
    display: flex;
    justify-content: space-between;
}

.two{
    display: flex;
    justify-content: space-between;
   	background-color: #A2B4BE;

}

.queen{
    border: 30px double #B8B9B3;
}


.three{
    display: flex;
    justify-content: space-between;
    background-color: #C9C4A6 ;
}